--
-- PostgreSQL database dump
--

\restrict qNPGzocHOv2THtdSShHVqzNqlj3HdxcQYltpYLaTarL3dcP6xaQBPHdJmEb4Dkz

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg12+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.documents DROP CONSTRAINT IF EXISTS fk_documents_student_faq;
ALTER TABLE IF EXISTS ONLY public.documents DROP CONSTRAINT IF EXISTS fk_documents_announcement;
ALTER TABLE IF EXISTS ONLY public.clubs DROP CONSTRAINT IF EXISTS fk_clubs_owner_student_id;
ALTER TABLE IF EXISTS ONLY public.documents DROP CONSTRAINT IF EXISTS documents_source_club_id_fkey;
DROP INDEX IF EXISTS public.uq_documents_student_faq_id;
DROP INDEX IF EXISTS public.uq_documents_announcement_id;
DROP INDEX IF EXISTS public.ix_students_student_id;
DROP INDEX IF EXISTS public.ix_documents_source_student_faq_id;
DROP INDEX IF EXISTS public.ix_documents_source_club_id;
DROP INDEX IF EXISTS public.ix_documents_source_announcement_id;
ALTER TABLE IF EXISTS ONLY public.students DROP CONSTRAINT IF EXISTS students_pkey;
ALTER TABLE IF EXISTS ONLY public.faq DROP CONSTRAINT IF EXISTS faq_pkey;
ALTER TABLE IF EXISTS ONLY public.documents DROP CONSTRAINT IF EXISTS documents_pkey;
ALTER TABLE IF EXISTS ONLY public.clubs DROP CONSTRAINT IF EXISTS clubs_pkey;
ALTER TABLE IF EXISTS ONLY public.announcements DROP CONSTRAINT IF EXISTS announcements_pkey;
ALTER TABLE IF EXISTS ONLY public.alembic_version DROP CONSTRAINT IF EXISTS alembic_version_pkc;
ALTER TABLE IF EXISTS public.students ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.documents ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.students_id_seq;
DROP TABLE IF EXISTS public.students;
DROP TABLE IF EXISTS public.faq;
DROP SEQUENCE IF EXISTS public.documents_id_seq;
DROP TABLE IF EXISTS public.documents;
DROP TABLE IF EXISTS public.clubs;
DROP TABLE IF EXISTS public.announcements;
DROP TABLE IF EXISTS public.alembic_version;
DROP EXTENSION IF EXISTS vector;
--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


--
-- Name: announcements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.announcements (
    id uuid NOT NULL,
    date date,
    title character varying(300) NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    category character varying(50)
);


--
-- Name: clubs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.clubs (
    id uuid NOT NULL,
    name character varying(200) NOT NULL,
    category character varying(32) NOT NULL,
    cover_image character varying(500),
    intro character varying(300) NOT NULL,
    status character varying(32) DEFAULT '招新中'::character varying NOT NULL,
    founded_year integer,
    member_count integer,
    advisor_name character varying(100),
    description text,
    activity_photos text,
    leader_name character varying(100),
    leader_phone character varying(50),
    qq_group character varying(50),
    wechat_qr character varying(500),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    owner_student_id integer,
    leaders text,
    recruit_start date,
    recruit_end date,
    hero_image character varying(500),
    honor text
);


--
-- Name: documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.documents (
    id integer NOT NULL,
    title character varying(512) NOT NULL,
    content text NOT NULL,
    embedding_json text,
    is_enabled boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    source_kind character varying(32) DEFAULT 'student_faq'::character varying NOT NULL,
    source_student_faq_id uuid,
    source_announcement_id uuid,
    source_club_id uuid
);


--
-- Name: COLUMN documents.embedding_json; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.documents.embedding_json IS 'JSON 数组：Ollama embedding 向量，维度随模型而定';


--
-- Name: documents_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.documents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: documents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.documents_id_seq OWNED BY public.documents.id;


--
-- Name: faq; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.faq (
    id uuid NOT NULL,
    question text NOT NULL,
    answer text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    keywords text,
    category character varying(128),
    sort_order integer DEFAULT 0 NOT NULL
);


--
-- Name: students; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.students (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    student_id character varying(32) NOT NULL,
    id_number_hash character varying(64) NOT NULL,
    photo character varying(500),
    class_name character varying(200) NOT NULL,
    dormitory character varying(200),
    advisor_name character varying(100),
    advisor_phone character varying(50),
    class_teacher_name character varying(100),
    class_teacher_phone character varying(50),
    assistant_name character varying(100),
    assistant_phone character varying(50),
    assistant_class_name character varying(200),
    role character varying(32) DEFAULT 'student'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: students_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.students_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: students_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.students_id_seq OWNED BY public.students.id;


--
-- Name: documents id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents ALTER COLUMN id SET DEFAULT nextval('public.documents_id_seq'::regclass);


--
-- Name: students id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.students ALTER COLUMN id SET DEFAULT nextval('public.students_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.alembic_version (version_num) FROM stdin;
a1b2c3d4e5f6
\.


--
-- Data for Name: announcements; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: clubs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.clubs (id, name, category, cover_image, intro, status, founded_year, member_count, advisor_name, description, activity_photos, leader_name, leader_phone, qq_group, wechat_qr, created_at, updated_at, owner_student_id, leaders, recruit_start, recruit_end, hero_image, honor) FROM stdin;
4b254549-27f5-4868-9fa4-98b12232b259	生活部	信工团学会	/static/uploads/clubs/e622abd6fa99473f8aa27822464719cf.jpg	生活部	招新中	\N	\N	\N	检查寝室	\N	\N	\N	\N	\N	2026-06-13 16:24:18.42803+00	2026-06-13 16:24:18.42803+00	\N	\N	\N	\N	/static/uploads/clubs/e7be871d9c2944f3882d452f376efef3.jpg	\N
\.


--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.documents (id, title, content, embedding_json, is_enabled, created_at, updated_at, source_kind, source_student_faq_id, source_announcement_id, source_club_id) FROM stdin;
\.


--
-- Data for Name: faq; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.documents_id_seq', 1, false);


--
-- Name: students_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.students_id_seq', 5, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: announcements announcements_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_pkey PRIMARY KEY (id);


--
-- Name: clubs clubs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clubs
    ADD CONSTRAINT clubs_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: faq faq_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.faq
    ADD CONSTRAINT faq_pkey PRIMARY KEY (id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: ix_documents_source_announcement_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_documents_source_announcement_id ON public.documents USING btree (source_announcement_id);


--
-- Name: ix_documents_source_club_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_documents_source_club_id ON public.documents USING btree (source_club_id);


--
-- Name: ix_documents_source_student_faq_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_documents_source_student_faq_id ON public.documents USING btree (source_student_faq_id);


--
-- Name: ix_students_student_id; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_students_student_id ON public.students USING btree (student_id);


--
-- Name: uq_documents_announcement_id; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_documents_announcement_id ON public.documents USING btree (source_announcement_id) WHERE (((source_kind)::text = 'announcement'::text) AND (source_announcement_id IS NOT NULL));


--
-- Name: uq_documents_student_faq_id; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_documents_student_faq_id ON public.documents USING btree (source_student_faq_id) WHERE (((source_kind)::text = 'student_faq'::text) AND (source_student_faq_id IS NOT NULL));


--
-- Name: documents documents_source_club_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_source_club_id_fkey FOREIGN KEY (source_club_id) REFERENCES public.clubs(id) ON DELETE CASCADE;


--
-- Name: clubs fk_clubs_owner_student_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clubs
    ADD CONSTRAINT fk_clubs_owner_student_id FOREIGN KEY (owner_student_id) REFERENCES public.students(id);


--
-- Name: documents fk_documents_announcement; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT fk_documents_announcement FOREIGN KEY (source_announcement_id) REFERENCES public.announcements(id) ON DELETE CASCADE;


--
-- Name: documents fk_documents_student_faq; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT fk_documents_student_faq FOREIGN KEY (source_student_faq_id) REFERENCES public.faq(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict qNPGzocHOv2THtdSShHVqzNqlj3HdxcQYltpYLaTarL3dcP6xaQBPHdJmEb4Dkz

